<h1>Greeting Web form</h1>

<form class="" action="/greetings" method="post">
  <input type="text" name="name" placeholder="Type any Name here">
  <input type="submit"  value="Greet me"><br></br>
  <input type="radio" name="languge" value="Hello">English
  <input type="radio" name="language" value="Dumelaa">Isisotho
  <input type="radio" name="language" value="Ndaa">Tshivenda
  <p>
    {{message}}
  </p>
</form>
