<h1>Greeting Web form</h1>

<form class="" action='/names/add' method="post">
  <input type="text" name="name" placeholder="Type any Name here">
  <input type="submit" name="" value="Greet me"><br></br>
  <input type="radio" name="language" value="Hello">English
  <input type="radio" name="language" value="Molo">Isixhosa
  <input type="radio" name="language" value="Ndaa">Tshivenda
  {{message}}

</form>
