<h1>Greeting Web App</h1>

<form class="" action="/greetings" method="post">
  <input type="text" name="name" placeholder="Type any Name here">
  <input type="submit"  value="Greet me"><br></br>
  <input type="radio" name="language" value="Hello">English
  <input type="radio" name="language" value="Dumelaa">Isisotho
  <input type="radio" name="language" value="Ndaa">Tshivenda
  <br></br>
    <a href="/greeted">View all greeted Names</a>

  <p>
    {{message}}
  </p>
  <p>
    {{count}}
  </p>
</form>
