<h1>greeted</h1>

{{#if messages.error}}
<div class="error">
  {{message.error}}
</div>
{{/if}}


<a href="/greetings">Go back reeting WebApp</a>

<ul>
  {{#each names}}
  <a href="/counter/{{name}}"><li>{{name}}</li></a>
  {{/each}}
</ul>
