<h1>ListNames</h1>

{{#if messages.error}}
<div class="error">
  {{messages.error}}
</div>
<br>
<br>
{{/if}}

<a href="/names/add">add name</a>

<ul>
  {{#each names}}
  <li>{{this}}</li>
  {{/each}}
</ul>
