body{
  background-color: #554656;
}

.container{
  background-color: white;
  width: 80%;
  margin: auto;
  padding: 1em;
  font-family: "Arial"
}
.erro{
  color: green;
}
.header{
  display: inline;
}
label{
  font-weight: bold;
}
